:root {}


button {
    padding: var(--padding-xs) var(--padding-sm);
    background-color: var(--primary-color);
    display: inline-flex;
    justify-content: space-between;
    border: none;
    font-size: clamp(16px, 2vw, 20px);
    font-family: 'Regarn', sans-serif;
    font-weight: 200;
    color: var(--color-dark);
    text-align: left;
    cursor: pointer;

    &.more {
        transition: all 0.3s ease-in-out;

        svg {
            position: relative;
            left: -20%;
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            opacity: 0.8;
            background-color: var(--color-dark);
            color: var(--color-beige);

            svg {
                transform: translateX(0);
                left: 0;
            }
        }

    }
}