select{
    font-family: 'Regarn', sans-serif;
    font-size: var(--font-sm);
    color: var(--color-marron);
    background-color: var(--color-beige);
    border: 2px solid var(--color-marron);
    padding: var(--padding-xs);
    cursor: pointer;
    transition: background-color 0.3s;
}