body,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: var(--color-beige);
    scroll-behavior: smooth;
}

main > *{
    max-width: var(--max-width);
    margin: 0 auto;
}