@font-face {
    font-family: 'Lovan';
    src: url('@/assets/fonts/Lovan - Sugiyanto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Regarn';
    src: url('@/assets/fonts/regarn-regarn-regular-400.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Regarn';
    src: url('@/assets/fonts/regarn-regarn-bold-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Regarn';
    src: url('@/assets/fonts/regarn-regarn-semi-bold-600.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Regarn';
    src: url('@/assets/fonts/regarn-regarn-extra-bold-800.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Regarn';
    src: url('@/assets/fonts/regarn-regarn-light-200.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Lucette';
    src: url('@/assets/fonts/Lucette-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lucette';
    src: url('@/assets/fonts/Lucette-Regularitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}