@font-face {
    font-family: 'Lovan';
    src: url('@/assets/fonts/Lovan - Sugiyanto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Regarn';
    src: url('@/assets/fonts/regarn-regarn-regular-400.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Regarn';
    src: url('@/assets/fonts/regarn-regarn-bold-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Regarn';
    src: url('@/assets/fonts/regarn-regarn-semi-bold-600.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Regarn';
    src: url('@/assets/fonts/regarn-regarn-extra-bold-800.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Regarn';
    src: url('@/assets/fonts/regarn-regarn-thin-200.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Regarn';
    src: url('@/assets/fonts/regarn-regarn-light-200.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Lucette';
    src: url('@/assets/fonts/Lucette-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lucette';
    src: url('@/assets/fonts/Lucette-Regularitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Rokurou';
    src: url('@/assets/fonts/Rokurou.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

body{
    font-family: 'Regarn', sans-serif;
    font-size:16px;
}

p, span, li, a, button, input, textarea, select, option, label, h1, h2, h3, h4, h5, h6{
    font-size:var(--font-sm);
    line-height: 1.1;
}