:root { 
    --color-beige: #F5F4EC;
    --color-marron: #7A572F;
    --color-marron-dark: hsl(32, 24%, 25%);
    --color-marron-light: #CCBB9F;
    --color-sable: #E2DFC7;
    --color-vert-gris:#7DA08B;
    --color-vert: #AED3AA;
    --color-dark: #3C3A1F;
    
    /* Padding variables */
    --padding-xs: clamp(0.75rem, 1vw, 1rem);      /* 12-16px - Petit espacement */
    --padding-sm: clamp(1.5rem, 2vw, 2rem);      /* 24-32px - Espacement moyen */
    --padding-md: clamp(3rem, 4vw, 4rem);       /* 48-64px - Grand espacement */
    --padding-lg: clamp(4.5rem, 6vw, 6rem);      /* 72-96px - Très grand espacement */

    /* Font size variables */
    --font-xs: clamp(0.75rem, 0.8vw, 0.875rem);        /* 12-14px - Très petit texte */
    --font-sm: clamp(1rem, 1.1vw, 1.2rem);             /* 14-16px - Petit texte */
    --font-md: clamp(2rem, 2vw, 2.4rem);           /* 16-20px - Texte de base */
    --font-lg: clamp(2rem, 4vw, 5rem);            /* 24-32px - Sous-titres */
    --font-xl: clamp(6.5rem, 5vw, 7rem);              /* 40-64px - Titres de section */
    --font-xxl: clamp(4rem, 10vw, 8rem);              /* 64-128px - Titres hero */
    --font-hero: clamp(6rem, 15vw, 12rem);           /* 96-192px - Très grands titres */

    --small-button:150px;
    --medium-button:200px;
    --large-button:385px;
    --primary-color:var(--color-vert);
    --secondary-color:var(--color-beige);

    --max-width: 1200px;
    
    /* Common styles */
    --border-width: 2px;
    --border-color: var(--color-marron);
    --border: var(--border-width) solid var(--border-color);
    --border-radius: 30px;
    
    /* Image styles */
    --image-cover: 100% 100% / cover;
    
    /* Transitions */
    --transition: 0.3s;
}