# Copier ce fichier en .env et .env.production et remplir les valeurs

# URL de base de l'API (sans trailing slash)
VITE_API_BASE_URL=http://127.0.0.1:8888/api/v1

# URL de l'application backend (pour le cookie CSRF Sanctum)
VITE_APP_URL=http://127.0.0.1:8888
